<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>홈페이지</title>
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <script src="jquery-3.4.1.js"></script>
</head>
<body>
    <section class="home-form">
        <form action="/home" method="post">
            <div class="home">
                <div class="parent">
                    <div class="first"></div>
                    <div class="second"></div>
                    <div class="third"></div>
                </div>
            </div>
        </form>
    </section>
</body>
</html>