<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>홈페이지</title>
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <script src="jquery-3.4.1.js"></script>
</head>
<body>
    <div class="user-profile">
        <span>test 님</span>
        <img class="profile" src="../photo/profile.png">
    </div>
    <section class="home-form">
        <form action="/home" method="post">
            <div class="home">
            <button class="home-btn" type="submit">바로 코스짜기</button>
                <div class="group">
                    <div class="cafe">
                        <div class="menuWrap">
                            <img class="cafe_img" src="../photo/cafe.png">
                            <div class="home_text">CAFE</div>
                        </div>
                    </div>
                    <div class="restaurant">
                        <div class="menuWrap">
                            <img class="restaurant_img" src="../photo/restaurant.png">
                            <div class="home_text">RESTAURANT</div>
                        </div>
                    </div>
                    <div class="place">
                        <div class="menuWrap">
                            <img class="place_img" src="../photo/place.png">
                            <div class="home_text">PLACE</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</body>
</html>