<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title> 지도</title>
    <link rel="stylesheet" href="../stylesheets/map.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&display=swap"
        rel="stylesheet">

</head>

<body>

    <div class="back-btn">
        <a href="home.html"><img src="../photo/back.png"></a>
    </div>

    <div class="box">

        <div class="search_area">
            <form>
                <input id="searchbox" type="search" placeholder="장소검색" onkeydown="onSearchBoxPress()">
                <img calss="img1" src="../photo/map1.png">
            </form>
        </div>
        <div class="course">
            <h1>추천 코스</h1>
        </div>
        <div class="image_map">
            <div class="contents">
                <li>
                    <div class="image_map2">
                        <img src="../photo/icon1.png">
                    </div>
                    <div class="image_text">팔공티<br>구지점</div>
                </li>

                <li>
                    <div class="image_map2">
                        <img src="../photo/icon2.png">
                    </div>
                    <div class="image_text_2">성서한옥집김치찜<br>구지점</div>
                </li>

                <li>
                    <div class="image_map2">
                        <img src="../photo/icon3.png">
                    </div>
                    <div class="image_text">현풍구지<br>대니산활공장</div>
                </li>
            </div>
        </div>

        <div class=menu-btn>
            <button type="submit" id="all" class="menu_btn">ALL</button>
            <button type="submit" id="cafe" class="menu_btn">CAFE</button>
            <button type="submit" id="rest" class="menu_btn">RESTAURANT</button>
            <button type="submit" id="palce" class="menu_btn">PLACE</button>
        </div>

        <div id="list" class="scrollWrap">
        </div>
    </div>

    <div class="map_img" id="map" style="width:1160px;height:1000px;"></div>
    <div class="category">
        <ul>
            <li id="coffeeMenu" onclick="changeMarker('coffee')">
                <span class="ico_comm ico_coffee"></span>
                CAFE
            </li>
            <li id="storeMenu" onclick="changeMarker('store')">
                <span class="ico_comm ico_store"></span>
                FOOD
            </li>
            <li id="carparkMenu" onclick="changeMarker('carpark')">
                <span class="ico_comm ico_carpark"></span>
                PLACE
            </li>
        </ul>
    </div>
    </div>


    <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=c4aff8bec893e3039f315686989b5a65"></script>
    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
            mapOption = {
                center: new kakao.maps.LatLng(35.66325395378856, 128.4136840979611), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 마커를 표시할 위치와 title 객체 배열입니다 
        var positions = [
            {
                title: '니우나이',
                start: 4.0,
                add: '대구 달성군 구지면 창리로 103 1층',
                add2: '(지번) 구지면 창리 310-6',
                latlng: new kakao.maps.LatLng(35.66108633334286, 128.41536076103677)
            },
            {
                title: '별의별',
                add: '대구 달성군 구지면 창리로 103 1층',
                add2: '(지번) 구지면 창리 310-6',
                start: 1.7,
                latlng: new kakao.maps.LatLng(35.66586434869009, 128.4106894001103)
            },
            {
                title: 'BonPatissier(본파티쉐)',
                start: 5.0,
                add:'대구 달성군 유가읍 테크노상업로 96 파스텔시티 109호',
                add2: '(지번) 유가읍 봉리 608',
                latlng: new kakao.maps.LatLng(35.693224664523974, 128.45576997006538)
            },
            {
                title: '호이차',
                start:4.5,
                add:'대구 달성군 유가읍 테크노공원로 69 105호',
                add2: '대구 달성군 유가읍 테크노공원로 69 105호',
                latlng: new kakao.maps.LatLng(35.69193947758627, 128.46050940264706)
            },
            {
                title: 'FOR ME',
                start:5.0,
                add:'대구 달성군 구지면 국가산단북로31길 48',
                add2:'(지번) 구지면 화산리 318',
                latlng: new kakao.maps.LatLng(35.66227829171159, 128.4091784089599)
            },
            {
                //카페
                title: '구지 커피명가',
                latlng: new kakao.maps.LatLng(35.640390387840746, 128.40354915598132)
            },
            {
                title: '니우나이',
                latlng: new kakao.maps.LatLng(35.66108633334286, 128.41536076103677)
            },
            {
                title: '이디야커피',
                latlng: new kakao.maps.LatLng(35.65594828647931, 128.41904323079987)
            },
            {
                title: '별의별',
                latlng: new kakao.maps.LatLng(35.66586434869009, 128.4106894001103)
            },
            {
                title: '기브온',
                latlng: new kakao.maps.LatLng(35.70421378042498, 128.36766913873117)
            },
            {
                title: '커피팀버',
                latlng: new kakao.maps.LatLng(35.694065442653404, 128.4725250718114)
            },
            {
                title: '스타벅스',
                latlng: new kakao.maps.LatLng(35.6939957357487, 128.45896382286125)
            },
            {
                title: '커피로드',
                latlng: new kakao.maps.LatLng(35.70173283020532, 128.4709372040546)
            },
            {
                title: '파스쿠찌',
                latlng: new kakao.maps.LatLng(35.692463674743564, 128.45048506455862)
            },
            {
                title: '공차',
                latlng: new kakao.maps.LatLng(35.678082150742945, 128.45555984614464)
            },
            {
                title: 'FOR ME',
                latlng: new kakao.maps.LatLng(35.66227829171159, 128.4091784089599)
            },
            {
                title: '별의별',
                latlng: new kakao.maps.LatLng(35.66509168288331, 128.4106815609278)
            },
            {
                title: '엘리시아',
                latlng: new kakao.maps.LatLng(35.66382884286105, 128.41557863012872)
            },
            {
                title: '아이럽베지',
                latlng: new kakao.maps.LatLng(35.660566144601724, 128.4187395529531)
            },
            {
                title: '쏘앤놀',
                latlng: new kakao.maps.LatLng(35.65956016572129, 128.418960666347)
            },
            {
                title: '카페콤마',
                latlng: new kakao.maps.LatLng(35.65890656835939, 128.42094826495708)
            },
            {
                title: '설렘카페',
                latlng: new kakao.maps.LatLng(35.65455146541558, 128.41702706693255)
            },
            {
                title: '명랑핫도그',
                latlng: new kakao.maps.LatLng(35.65572466930405, 128.41921881933126)
            },
            {
                title: '프랑스가고싶다',
                latlng: new kakao.maps.LatLng(35.69144331748498, 128.4535312178727)
            },
            {
                title: '공차',
                latlng: new kakao.maps.LatLng(35.693395366297466, 128.45860473240808)
            },
            {
                title: '호떡공장',
                latlng: new kakao.maps.LatLng(35.69311606185227, 128.45884501643133)
            },
            {
                title: '투썸플레이스',
                latlng: new kakao.maps.LatLng(35.69332950420201, 128.45811365193552)
            },
            {
                title: 'DESSERT39',
                latlng: new kakao.maps.LatLng(35.693125819229984, 128.45954033838555)
            },
            {
                title: '베스킨라빈스 테크노점',
                latlng: new kakao.maps.LatLng(35.69266270422293, 128.454408895300769)
            },
            {
                title: 'BonPatissier(본파티쉐)',
                latlng: new kakao.maps.LatLng(35.693224664523974, 128.45576997006538)
            },
            {
                title: '모모(애견카페)',
                latlng: new kakao.maps.LatLng(35.6914385463622, 128.45420337721697)
            },
            {
                title: '호이차',
                latlng: new kakao.maps.LatLng(35.69193947758627, 128.46050940264706)
            },
            {
                title: '한빵울 토스트',
                latlng: new kakao.maps.LatLng(35.69808484649827, 128.45491142145906)
            },
            {
                title: '취홍',
                latlng: new kakao.maps.LatLng(35.697974700178655, 128.45421468755603)
            },
            {
                title: '옹기마을',
                latlng: new kakao.maps.LatLng(35.696611356259126, 128.4524781314375)
            },
            {
                title: '스타벅스',
                latlng: new kakao.maps.LatLng(35.693400669920536, 128.45917794121686)
            },
            {
                title: '유가제빵소',
                latlng: new kakao.maps.LatLng(35.67308788798233, 128.45611839818386)
            },
            {
                title: 'TAPROOM3029',
                latlng: new kakao.maps.LatLng(35.662343781696116, 128.3984761035285)
            },
            {
                title: '교동도나스',
                latlng: new kakao.maps.LatLng(35.693466519911134, 128.45993996269573)
            },
            {
                title: '팔공티',
                latlng: new kakao.maps.LatLng(35.6585766950681, 128.4192393858939)
            },



            //식당 
            {
                title: '포냐',
                latlng: new kakao.maps.LatLng(35.65873110689948, 128.41886618829017)
            },
            {
                title: '홍유',
                latlng: new kakao.maps.LatLng(35.65681025687455, 128.41578547015618)
            },
            {
                title: '김태주선산곱창',
                latlng: new kakao.maps.LatLng(35.656633050476614, 128.41582385464895)
            },
            {
                title: '막창도둑',
                latlng: new kakao.maps.LatLng(35.65542626161854, 128.41962358103368)
            },
            {
                title: '매콤돈가스와 냉면',
                latlng: new kakao.maps.LatLng(35.693386828621485, 128.45887955725965)
            },
            {
                title: '쿠우쿠우',
                latlng: new kakao.maps.LatLng(35.693214855239454, 128.45821577264542)
            },
            {
                title: '윤옥연할매떡볶이',
                latlng: new kakao.maps.LatLng(35.693196560177675, 128.45942620347452)
            },
            {
                title: '닭강정',
                latlng: new kakao.maps.LatLng(35.69351367399968, 128.4597280602787)
            },
            {
                title: '오유미당',
                latlng: new kakao.maps.LatLng(35.69333194354143, 128.4603407845909)
            },
            {
                title: '백종원 본가',
                latlng: new kakao.maps.LatLng(35.69174541425587, 128.45365586944234)
            },
            {
                title: '스시죠',
                latlng: new kakao.maps.LatLng(35.69131948239151, 128.45358801259042)
            },
            {
                title: 'Curry KIngdom',
                latlng: new kakao.maps.LatLng(35.69093791316583, 128.4534365882284)
            },
            {
                title: '국민대패',
                latlng: new kakao.maps.LatLng(35.69023507866271, 128.45408969697996)
            },
            {
                title: '스시전',
                latlng: new kakao.maps.LatLng(35.68939130618567, 128.45352072956118)
            },
            {
                title: '차돌풍',
                latlng: new kakao.maps.LatLng(35.69174477225676, 128.45641530959983)
            },
            {
                title: '우야지막창',
                latlng: new kakao.maps.LatLng(35.69165282531942, 128.4563442231794)
            },
            {
                title: '마라신',
                latlng: new kakao.maps.LatLng(35.69287541327025, 128.459549856205)
            },
            {
                title: '이사장네 품격돼지',
                latlng: new kakao.maps.LatLng(35.692890692327566, 128.45935956048476)
            },
            {
                title: '히나토리',
                latlng: new kakao.maps.LatLng(35.692503218088156, 128.46013896857488)
            },
            {
                title: '두찜',
                latlng: new kakao.maps.LatLng(35.697914476543716, 128.45883262614328)
            },
            {
                title: '쉐프의부대찌개',
                latlng: new kakao.maps.LatLng(35.698322896921304, 128.45831658943123)
            },
            {
                title: '의령소바',
                latlng: new kakao.maps.LatLng(35.69750131787429, 128.45683844050262)
            },
            {
                title: '김태주선산곱창(현풍점)',
                latlng: new kakao.maps.LatLng(35.69774535392145, 128.45566761009195)
            },
            {
                title: '만월뒷고기',
                latlng: new kakao.maps.LatLng(35.697220269234535, 128.4551882571526)
            },
            {
                title: '라라코스트',
                latlng: new kakao.maps.LatLng(35.693024821716214, 128.46331869983547)
            },
            {
                title: '큰바위가든',
                latlng: new kakao.maps.LatLng(35.68823859065325, 128.49680571150833)
            },
            {
                title: '길목식당',
                latlng: new kakao.maps.LatLng(35.692150652450586, 128.5043529206553)
            },
            {
                title: '투고샐러드',
                latlng: new kakao.maps.LatLng(35.691898710105185, 128.458154001065)
            },
            {
                title: '노브랜드버거',
                latlng: new kakao.maps.LatLng(35.693334540329595, 128.46177428418562)
            },
            {
                title: '홍콩반점',
                latlng: new kakao.maps.LatLng(35.69278554194124, 128.4607268636515)
            },
            {
                title: '곱창고',
                latlng: new kakao.maps.LatLng(35.6927132474135, 128.46056694749524)
            },
            {
                title: '뉴욕야시장',
                latlng: new kakao.maps.LatLng(35.69232161667002, 128.46056794997983)
            },
            {
                title: '소문난 공주떡볶이',
                latlng: new kakao.maps.LatLng(35.693092150702014, 128.4601006671349)
            },
            {
                title: '신통치킨',
                latlng: new kakao.maps.LatLng(35.69323661950197, 128.460506671823)
            },
            {
                title: '야간얼큰우동',
                latlng: new kakao.maps.LatLng(35.693893604900985, 128.46037434982264)
            },
            {
                title: '현풍옛날화로',
                latlng: new kakao.maps.LatLng(35.69843475860039, 128.44201530501715)
            },
            {
                title: '현풍닭칼국수 본점',
                latlng: new kakao.maps.LatLng(35.693996002728504, 128.44582980894407)
            },
            {
                title: '대가웍',
                latlng: new kakao.maps.LatLng(35.70002946443246, 128.44596736541905)
            },

            {
                title: '뜨돈',
                latlng: new kakao.maps.LatLng(35.69348693539046, 128.45998849830983)
            },
            {
                title: '홍유',
                latlng: new kakao.maps.LatLng(35.657004011642435, 128.41572984392096)
            },
            {
                title: '대동육지도',
                latlng: new kakao.maps.LatLng(35.65562127928077, 128.41871695826538)
            },
            {
                title: '예가수제순대',
                latlng: new kakao.maps.LatLng(35.69886983707128, 128.45012984057445)
            },
            {
                title: '60계치킨',
                latlng: new kakao.maps.LatLng(35.6562808681929, 128.4188876457227)
            },
            {
                title: '신참떡볶이',
                latlng: new kakao.maps.LatLng(35.65609180749139, 128.41920749916352)
            },
            {
                title: '피자마루',
                latlng: new kakao.maps.LatLng(35.65566284382456, 128.41923313906088)
            },
            {
                //플레이스
                title: '중앙 공원',
                latlng: new kakao.maps.LatLng(35.690413256113374, 128.46037706059198)
            },
            {
                title: '롯데시네마',
                latlng: new kakao.maps.LatLng(35.693421622079, 128.45630309831012)
            },
            {
                title: '에코트리공원',
                latlng: new kakao.maps.LatLng(35.69136344727974, 128.45119098473276)
            },
            {
                title: '테디베어디아트월드',
                latlng: new kakao.maps.LatLng(35.69308474162187, 128.46289263061487)
            },
            {
                title: '현풍석빙고(보물673호)',
                latlng: new kakao.maps.LatLng(35.69744199941369, 128.45137423596805)
            },
            {
                title: '국립대구과학관',
                latlng: new kakao.maps.LatLng(35.686577141972094, 128.4653672602508)
            },
            {
                title: '비슬산 자연휴양림',
                latlng: new kakao.maps.LatLng(35.689769380459374, 128.51261989124984)
            },
            {
                title: '유후점핑클럽',
                latlng: new kakao.maps.LatLng(35.69225030385926, 128.4575670049297)
            },
            {
                title: '이양서원',
                latlng: new kakao.maps.LatLng(35.665900286263984, 128.42269047806684)
            },
            {
                title: '도동서원',
                latlng: new kakao.maps.LatLng(35.7010487036083, 128.3718339204208)
            },
            {
                title: '다람재전망대',
                latlng: new kakao.maps.LatLng(35.69938953037242, 128.37661351639457)
            },
            {
                title: '포토시그니처',
                latlng: new kakao.maps.LatLng(35.69340141453055, 128.4599859913282)
            },
            {
                title: '현풍구지대니산활공장',
                latlng: new kakao.maps.LatLng(35.67650380994518, 128.40994631809423)
            },
            {
                title: '롯데시네마',
                latlng: new kakao.maps.LatLng(35.693421622079, 128.45630309831012)
            },
        ];

        // 마커 이미지의 이미지 주소입니다
        var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

        for (var i = 0; i < positions.length; i++) {
            const markerPosition = new kakao.maps.LatLng(positions[i].latlng.Ma, positions[i].latlng.La);

            const content = `<div class="background"><img class="markerImg" src="../photo/con2.png" /><span class="markerContent">${positions[i].title}</span></div>`;

            const customOverlay = new kakao.maps.CustomOverlay({
                position: markerPosition,
                content
            });

            customOverlay.setMap(map);
        }

        // 지도에 마커를 표시합니다 
        var marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(35.663345, 128.414105)
        });

        // 커스텀 오버레이에 표시할 컨텐츠 입니다
        var content = '<div class="wrap">' + "대구소프트웨어고등학교" +
            '</div>';

        // 마커 위에 커스텀오버레이를 표시
        var overlay = new kakao.maps.CustomOverlay({
            content: content,
            map: map,
            position: marker.getPosition()
        });

        // 마커를 클릭했을 때 커스텀 오버레이를 표시합니다
        kakao.maps.event.addListener(marker, 'click', function () {
            overlay.setMap(map);
        });

        // 커스텀 오버레이를 닫기 위해 호출되는 함수입니다 
        function closeOverlay() {
            overlay.setMap(null);
        }

        // 지도 확대 축소제어
        var zoomControl = new kakao.maps.ZoomControl();
        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);


        // 커피숍 마커가 표시될 좌표 배열입니다
        var coffeePositions = [
            new kakao.maps.LatLng(35.640390387840746, 128.40354915598132),//구지 커피명가
            new kakao.maps.LatLng(35.66108633334286, 128.41536076103677),//니우나이
            new kakao.maps.LatLng(35.65594828647931, 128.41904323079987),//이디야커피
            new kakao.maps.LatLng(35.66586434869009, 128.4106894001103),//별의별
            new kakao.maps.LatLng(35.70421378042498, 128.36766913873117),//기브온
            new kakao.maps.LatLng(35.694065442653404, 128.4725250718114),//커피팀버
            new kakao.maps.LatLng(35.6939957357487, 128.45896382286125),//스타벅스
            new kakao.maps.LatLng(35.678082150742945, 128.45555984614464),//공차
            new kakao.maps.LatLng(35.70173283020532, 128.4709372040546),//커피로드
            new kakao.maps.LatLng(35.692463674743564, 128.45048506455862),//파스쿠찌
            new kakao.maps.LatLng(35.66227829171159, 128.4091784089599),//FOR ME
            new kakao.maps.LatLng(35.66382884286105, 128.41557863012872),//엘리시아
            new kakao.maps.LatLng(35.660566144601724, 128.4187395529531),//아이럽베지
            new kakao.maps.LatLng(35.6604105227881, 128.418915679748),//턴커피
            new kakao.maps.LatLng(35.65956016572129, 128.418960666347),//쏘앤놀
            new kakao.maps.LatLng(35.65890656835939, 128.42094826495708),//카페콤마
            new kakao.maps.LatLng(35.65455146541558, 128.41702706693255),//설렘카페
            new kakao.maps.LatLng(35.65572466930405, 128.41921881933126),//명랑핫도그
            new kakao.maps.LatLng(35.69144331748498, 128.4535312178727),//프랑스가고싶다
            new kakao.maps.LatLng(35.69311606185227, 128.45884501643133),//호떡공장
            new kakao.maps.LatLng(35.69332950420201, 128.45811365193552),//투썸플레이스
            new kakao.maps.LatLng(35.693125819229984, 128.45954033838555),//디저트39
            new kakao.maps.LatLng(35.69266270422293, 128.45440889530076),//베스킨라빈스 테크노
            new kakao.maps.LatLng(35.693224664523974, 128.45576997006538),//BonPatissier(본파티쉐
            new kakao.maps.LatLng(35.6914385463622, 128.45420337721697),//모모
            new kakao.maps.LatLng(35.69193947758627, 128.46050940264706),//호이차
            new kakao.maps.LatLng(35.69808484649827, 128.45491142145906),//한빵울토스트
            new kakao.maps.LatLng(35.697974700178655, 128.45421468755603),//취홍
            new kakao.maps.LatLng(35.696611356259126, 128.4524781314375),//옹기마을
            new kakao.maps.LatLng(35.67308788798233, 128.45611839818386),//유가제빵소
            new kakao.maps.LatLng(35.662343781696116, 128.3984761035285),//TAPROOM3029
            new kakao.maps.LatLng(35.693466519911134, 128.45993996269573),//교동도나스
            new kakao.maps.LatLng(35.6585766950681, 128.4192393858939),//팔공티
        ];

        // 레스토랑 마커가 표시될 좌표 배열입니다
        var storePositions = [
            new kakao.maps.LatLng(37.497535461505684, 127.02948149502778),//뜨돈
            new kakao.maps.LatLng(35.657004011642435, 128.41572984392096),//홍유
            new kakao.maps.LatLng(35.65562127928077, 128.41871695826538),//대동육지도
            new kakao.maps.LatLng(35.69886983707128, 128.45012984057445),//예가수제순대
            new kakao.maps.LatLng(35.6562808681929, 128.4188876457227),//60계치킨
            new kakao.maps.LatLng(35.65609180749139, 128.41920749916352),//신참떡볶이
            new kakao.maps.LatLng(35.65566284382456, 128.41923313906088),//피자마루
            new kakao.maps.LatLng(35.65873110689948, 128.41886618829017),//포냐
            new kakao.maps.LatLng(35.656633050476614, 128.41582385464895),//김태주선산곱창
            new kakao.maps.LatLng(35.65542626161854, 128.41962358103368),//막창도둑
            new kakao.maps.LatLng(35.693386828621485, 128.45887955725965),//매콤돈가스와 냉면
            new kakao.maps.LatLng(35.693214855239454, 128.45821577264542),//쿠우쿠우
            new kakao.maps.LatLng(35.693196560177675, 128.459426203474527),//윤옥연할매떡볶이
            new kakao.maps.LatLng(35.69351367399968, 128.4597280602787),//닭강정
            new kakao.maps.LatLng(35.69333194354143, 128.4603407845909),//오유미당
            new kakao.maps.LatLng(35.69174541425587, 128.45365586944234),//백종원 본가
            new kakao.maps.LatLng(35.69131948239151, 128.45358801259042),//스시죠
            new kakao.maps.LatLng(35.69093791316583, 128.4534365882284),//CurryKIngdom
            new kakao.maps.LatLng(35.69023507866271, 128.45408969697996),//국민대패
            new kakao.maps.LatLng(35.68939130618567, 128.45352072956118),//스시전
            new kakao.maps.LatLng(35.69174477225676, 128.45641530959983),//차돌풍
            new kakao.maps.LatLng(35.69165282531942, 128.4563442231794),//우야지막창
            new kakao.maps.LatLng(35.69287541327025, 128.459549856205),//마라신
            new kakao.maps.LatLng(35.692890692327566, 128.45935956048476),//이사장네 품격돼지
            new kakao.maps.LatLng(35.692503218088156, 128.46013896857488),//히나토리
            new kakao.maps.LatLng(35.697914476543716, 128.45883262614328),//두찜
            new kakao.maps.LatLng(35.698322896921304, 128.45831658943123),//쉐프의부대찌개
            new kakao.maps.LatLng(35.69750131787429, 128.45683844050262),//의령소바
            new kakao.maps.LatLng(35.69774535392145, 128.45566761009195),//김태주선산곱창(현풍점)
            new kakao.maps.LatLng(35.697220269234535, 128.4551882571526),//만월뒷고기
            new kakao.maps.LatLng(35.693024821716214, 128.46331869983547),//라라코스트
            new kakao.maps.LatLng(35.68823859065325, 128.49680571150833),//큰바위가든
            new kakao.maps.LatLng(35.692150652450586, 128.5043529206553),//길목식당
            new kakao.maps.LatLng(35.691898710105185, 128.458154001065),//투고샐러드
            new kakao.maps.LatLng(35.693334540329595, 128.46177428418562),//노브랜드버거
            new kakao.maps.LatLng(35.69278554194124, 128.4607268636515),//홍콩반점
            new kakao.maps.LatLng(35.6927132474135, 128.46056694749524),//곱창고
            new kakao.maps.LatLng(35.69232161667002, 128.46056794997983),//뉴욕야시장
            new kakao.maps.LatLng(35.693092150702014, 128.4601006671349),//소문난공주떡볶이
            new kakao.maps.LatLng(35.69323661950197, 128.460506671823),//신통치킨
            new kakao.maps.LatLng(35.693893604900985, 128.46037434982264),//야간얼큰우동
            new kakao.maps.LatLng(35.69843475860039, 128.44201530501715),//현풍옛날화로
            new kakao.maps.LatLng(35.693996002728504, 128.44582980894407),//현풍닭칼국수 본점
            new kakao.maps.LatLng(35.70002946443246, 128.44596736541905)//대가웍
        ];

        // 플레이스 마커가 표시될 좌표 배열입니다
        var carparkPositions = [
            new kakao.maps.LatLng(35.69136344727974, 128.45119098473276),//에코트리공원
            new kakao.maps.LatLng(35.69308474162187, 128.46289263061487),//테디베어디아트월드
            new kakao.maps.LatLng(35.69744199941369, 128.45137423596805),//현풍석빙고
            new kakao.maps.LatLng(35.686577141972094, 128.4653672602508),//국립대구박물관
            new kakao.maps.LatLng(35.689769380459374, 128.51261989124984),//비슬산 자연휴양림
            new kakao.maps.LatLng(35.69225030385926, 128.4575670049297),//유후점핑클럽
            new kakao.maps.LatLng(35.665900286263984, 128.42269047806684),//이양서원
            new kakao.maps.LatLng(35.7010487036083, 128.3718339204208),//도동서원
            new kakao.maps.LatLng(35.69938953037242, 128.37661351639457),//다람재 전망대
            new kakao.maps.LatLng(35.69340141453055, 128.4599859913282),//포토시그니처
            new kakao.maps.LatLng(35.675899231572124, 128.4132076174059),//현풍구지대니산활공장
        ];

        var markerImageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/category.png';  // 마커이미지의 주소입니다. 스프라이트 이미지 입니다
        coffeeMarkers = [], // 커피숍 마커 객체를 가지고 있을 배열입니다
            storeMarkers = [], // 편의점 마커 객체를 가지고 있을 배열입니다
            carparkMarkers = []; // 주차장 마커 객체를 가지고 있을 배열입니다


        createCoffeeMarkers(); // 커피숍 마커를 생성하고 커피숍 마커 배열에 추가합니다
        createStoreMarkers(); // 편의점 마커를 생성하고 편의점 마커 배열에 추가합니다
        createCarparkMarkers(); // 주차장 마커를 생성하고 주차장 마커 배열에 추가합니다

        changeMarker('coffee'); // 지도에 커피숍 마커가 보이도록 설정합니다    


        // 마커이미지의 주소와, 크기, 옵션으로 마커 이미지를 생성하여 리턴하는 함수입니다
        function createMarkerImage(src, size, options) {
            var markerImage = new kakao.maps.MarkerImage(src, size, options);
            return markerImage;
        }

        // 좌표와 마커이미지를 받아 마커를 생성하여 리턴하는 함수입니다
        function createMarker(position, image) {
            var marker = new kakao.maps.Marker({
                position: position,
                image: image
            });

            return marker;
        }

        // 커피숍 마커를 생성하고 커피숍 마커 배열에 추가하는 함수입니다
        function createCoffeeMarkers() {

            for (var i = 0; i < coffeePositions.length; i++) {

                var imageSize = new kakao.maps.Size(22, 26),
                    imageOptions = {
                        spriteOrigin: new kakao.maps.Point(10, 0),
                        spriteSize: new kakao.maps.Size(36, 98)
                    };

                // 마커이미지와 마커를 생성합니다
                var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),
                    marker = createMarker(coffeePositions[i], markerImage);

                // 생성된 마커를 커피숍 마커 배열에 추가합니다
                coffeeMarkers.push(marker);
            }
        }

        // 커피숍 마커들의 지도 표시 여부를 설정하는 함수입니다
        function setCoffeeMarkers(map) {
            for (var i = 0; i < coffeeMarkers.length; i++) {
                coffeeMarkers[i].setMap(map);
            }
        }

        // 편의점 마커를 생성하고 편의점 마커 배열에 추가하는 함수입니다
        function createStoreMarkers() {
            for (var i = 0; i < storePositions.length; i++) {

                var imageSize = new kakao.maps.Size(22, 26),
                    imageOptions = {
                        spriteOrigin: new kakao.maps.Point(10, 36),
                        spriteSize: new kakao.maps.Size(36, 98)
                    };

                // 마커이미지와 마커를 생성합니다
                var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),
                    marker = createMarker(storePositions[i], markerImage);

                // 생성된 마커를 편의점 마커 배열에 추가합니다
                storeMarkers.push(marker);
            }
        }

        // 편의점 마커들의 지도 표시 여부를 설정하는 함수입니다
        function setStoreMarkers(map) {
            for (var i = 0; i < storeMarkers.length; i++) {
                storeMarkers[i].setMap(map);
            }
        }

        // 주차장 마커를 생성하고 주차장 마커 배열에 추가하는 함수입니다
        function createCarparkMarkers() {
            for (var i = 0; i < carparkPositions.length; i++) {

                var imageSize = new kakao.maps.Size(22, 26),
                    imageOptions = {
                        spriteOrigin: new kakao.maps.Point(10, 72),
                        spriteSize: new kakao.maps.Size(36, 98)
                    };

                // 마커이미지와 마커를 생성합니다
                var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),
                    marker = createMarker(carparkPositions[i], markerImage);

                // 생성된 마커를 주차장 마커 배열에 추가합니다
                carparkMarkers.push(marker);
            }
        }

        // 주차장 마커들의 지도 표시 여부를 설정하는 함수입니다
        function setCarparkMarkers(map) {
            for (var i = 0; i < carparkMarkers.length; i++) {
                carparkMarkers[i].setMap(map);
            }
        }

        // 카테고리를 클릭했을 때 type에 따라 카테고리의 스타일과 지도에 표시되는 마커를 변경합니다
        function changeMarker(type) {

            var coffeeMenu = document.getElementById('coffeeMenu');
            var storeMenu = document.getElementById('storeMenu');
            var carparkMenu = document.getElementById('carparkMenu');

            // 커피숍 카테고리가 클릭됐을 때
            if (type === 'coffee') {

                // 커피숍 카테고리를 선택된 스타일로 변경하고
                coffeeMenu.className = 'menu_selected';

                // 편의점과 주차장 카테고리는 선택되지 않은 스타일로 바꿉니다
                storeMenu.className = '';
                carparkMenu.className = '';

                // 커피숍 마커들만 지도에 표시하도록 설정합니다
                setCoffeeMarkers(map);
                setStoreMarkers(null);
                setCarparkMarkers(null);

            } else if (type === 'store') { // 편의점 카테고리가 클릭됐을 때

                // 편의점 카테고리를 선택된 스타일로 변경하고
                coffeeMenu.className = '';
                storeMenu.className = 'menu_selected';
                carparkMenu.className = '';

                // 편의점 마커들만 지도에 표시하도록 설정합니다
                setCoffeeMarkers(null);
                setStoreMarkers(map);
                setCarparkMarkers(null);

            } else if (type === 'carpark') { // 주차장 카테고리가 클릭됐을 때

                // 주차장 카테고리를 선택된 스타일로 변경하고
                coffeeMenu.className = '';
                storeMenu.className = '';
                carparkMenu.className = 'menu_selected';

                // 주차장 마커들만 지도에 표시하도록 설정합니다
                setCoffeeMarkers(null);
                setStoreMarkers(null);
                setCarparkMarkers(map);
            }
        }

        
        const listElement = document.getElementById('list');
        for (let i = 0; i < 5; i++) {
            const position = positions[i];
            listElement.innerHTML += '<div class="scrollWrapBox">' + position.title + position.start+'<br>'+position.add+'<br>'+position.add2+'</div>'
        }

        function onSearchBoxPress() {
            var serch = document.getElementById('searchbox').value
            for (let i=0; i<positions.length;i++){
                console.log(serch);
                if(positions[i].title.indexOf(serch) == -1){
                    console.log('넌 아냐')
                }else{
                    console.log(positions[i].title)
                    //listElement.innerHTML += '<div class="scrollWrapBox">' + positions[i].title + '</div>'
                }
                
            }
        }
        //ejs 공부해보세요.
    </script>
</body>

</html>