*{
    font-family: 'Nanum Gothic', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color:#000;
}

.home_bg{
  background-image: url(../views/home.png);
}