<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>너에게 가는 이 길 위에서</title>
    <link rel="stylesheet" href="../stylesheets/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&family=Roboto+Condensed:ital@1&display=swap" rel="stylesheet">
    <script src="jquery-3.4.1.js"></script>
</head>
<body>
    <section class="login-form">
        <form action="">
        <div class="login">
        <img class="logo" src="../views/logo.png">
            <div class="int-area">
                <input type="text" name="id" id="id" autocomplete="off" required>
                <span></span>
                <label for="id" class="login-label">아이디</label>
            </div>
            <div class="int-area">
                <input type="password" name="pw" id="pw" autocomplete="off" required>
                <img class="open-eye" src="../views/eye.png"></img>
                <img class="close-eye" src="../views/eye2.png"></img>
                <span></span>
                <label for="pw" class="pw-label">비밀번호</label>
            </div>
            <div class="btn-area">
                <button type="submit">로그인</button>
            </div>
            <div class="caption">
            <a class="a1">아직 회원이 아니신가요?</a>
            <a class="decoration" href="" style="color:#FFA0B7">회원 가입하기</a>
            </div>
        </form>
        </div>
    </section>
    </div>
    <script>
        function show() {
            var password = document.getElementById('pw');
            var icon = document.querySelector('.fas');
            if(pw.type === "password") {
                pw.type = "text";
                pw.style.marginTop = "20px";
                icon.style.color = "#7f2092";
            }
            else {
                pw.type = "password";
                icon.style.color = "grey";
            }
        }
    </script>
</body>
</html>