<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title> 너이길 지도</title>
    <link rel="stylesheet" href="../stylesheets/map.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="box">
        <div class="search_area">
            <form>
            <input type="search" placeholder="장소검색">
            <img calss="img" src="../views/map1.png">
            </form>
        </div>
    </div>
    <div class="map_img" id="map" style="width:1050px;height:920px;"></div>
    <div class="category">
        <ul>
            <li id="coffeeMenu" onclick="changeMarker('coffee')">
                <span class="ico_comm ico_coffee"></span>
                CAFE
            </li>
            <li id="storeMenu" onclick="changeMarker('store')">
                <span class="ico_comm ico_store"></span>
                FOOD
            </li>
            <li id="carparkMenu" onclick="changeMarker('carpark')">
                <span class="ico_comm ico_carpark"></span>
                PLACE
            </li>
        </ul>
    </div>
</div>


<script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=ae5e241bc9f725d7809418c2b21f0a62"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
            mapOption = {
                center: new kakao.maps.LatLng(35.66325395378856, 128.4136840979611), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };
            
            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
            
            // 마커를 표시할 위치와 title 객체 배열입니다 
            var positions = [
                {
                    //카페
                    title: '구지 커피명가',
                    latlng: new kakao.maps.LatLng(35.640390387840746, 128.40354915598132)
                },
                {
                    title: '니우나이',
                    latlng: new kakao.maps.LatLng(35.66108633334286, 128.41536076103677)
                },
                {
                    title: '이디야커피',
                    latlng: new kakao.maps.LatLng(35.65594828647931, 128.41904323079987)
                },
                {
                    title: '별의별',
                    latlng: new kakao.maps.LatLng(35.66586434869009, 128.4106894001103)
                },
                {
                    title: '기브온',
                    latlng: new kakao.maps.LatLng(35.70421378042498, 128.36766913873117)
            },
            {
                title: '커피팀버',
                latlng: new kakao.maps.LatLng(35.694065442653404, 128.4725250718114)
            },
            {
                title: '스타벅스',
                latlng: new kakao.maps.LatLng(35.6939957357487, 128.45896382286125)
            },
            {
                title: '커피로드',
                latlng: new kakao.maps.LatLng(35.70173283020532, 128.4709372040546)
            },
            {
                title: '파스쿠찌',
                latlng: new kakao.maps.LatLng(35.692463674743564, 128.45048506455862)
            },
            {
                title: '공차',
                latlng: new kakao.maps.LatLng(35.678082150742945, 128.45555984614464)
            },
            {
                //레스토랑
                title: '뜨거운 돈까스',
                latlng: new kakao.maps.LatLng(35.69348693539046, 128.45998849830983)
            },
            {
                title: '뜨돈',
                latlng: new kakao.maps.LatLng(35.69348693539046, 128.45998849830983)
            },
            {
                title: '뜨돈',
                latlng: new kakao.maps.LatLng(35.69348693539046, 128.45998849830983)
            },
            {
                title: '뜨돈',
                latlng: new kakao.maps.LatLng(35.69348693539046, 128.45998849830983)
            },
            {
                title: '뜨돈',
                latlng: new kakao.maps.LatLng(35.69348693539046, 128.45998849830983)
            },
            {
                //플레이스
                title: '중앙 공원',
                latlng: new kakao.maps.LatLng(35.690413256113374, 128.46037706059198)
            },
            {
                title: '롯데시네마',
                latlng: new kakao.maps.LatLng(35.693421622079, 128.45630309831012)
            },
            {
                title: '롯데시네마',
                latlng: new kakao.maps.LatLng(35.693421622079, 128.45630309831012)
            },
            {
                title: '롯데시네마',
                latlng: new kakao.maps.LatLng(35.693421622079, 128.45630309831012)
            },
            {
                title: '롯데시네마',
                latlng: new kakao.maps.LatLng(35.693421622079, 128.45630309831012)
            },
            {
                title: '롯데시네마',
                latlng: new kakao.maps.LatLng(35.693421622079, 128.45630309831012)
            }
        ];
        
        // 마커 이미지의 이미지 주소입니다
        var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
        
        for (var i = 0; i < positions.length; i++) {
            
            // 마커 이미지의 이미지 크기 입니다
            var imageSize = new kakao.maps.Size(24, 35);
            
            // 마커 이미지를 생성합니다    
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
            
            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: positions[i].latlng, // 마커를 표시할 위치
                title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                image: markerImage // 마커 이미지 
            });
        }
        
        // 지도에 마커를 표시합니다 
        var marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(35.663345, 128.414105)
        });
        
        // 커스텀 오버레이에 표시할 컨텐츠 입니다
        var content = '<div class="wrap">' + "대구소프트웨어고등학교" +
            '</div>';
            
            // 마커 위에 커스텀오버레이를 표시
            var overlay = new kakao.maps.CustomOverlay({
                content: content,
                map: map,
                position: marker.getPosition()
            });
            
            // 마커를 클릭했을 때 커스텀 오버레이를 표시합니다
            kakao.maps.event.addListener(marker, 'click', function () {
                overlay.setMap(map);
            });
            
            // 커스텀 오버레이를 닫기 위해 호출되는 함수입니다 
            function closeOverlay() {
                overlay.setMap(null);
            }
            
            // 지도 확대 축소제어
            var zoomControl = new kakao.maps.ZoomControl();
            map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
            
            // 커피숍 마커가 표시될 좌표 배열입니다
            var coffeePositions = [
                new kakao.maps.LatLng(35.640390387840746, 128.40354915598132),//구지 커피명가
                new kakao.maps.LatLng(35.66108633334286, 128.41536076103677),//니우나이,
                new kakao.maps.LatLng(35.65594828647931, 128.41904323079987),//이디야커피
                new kakao.maps.LatLng(35.66586434869009, 128.4106894001103),//별의별
                new kakao.maps.LatLng(35.70421378042498, 128.36766913873117),//기브온
                new kakao.maps.LatLng(35.694065442653404, 128.4725250718114),//커피팀버
                new kakao.maps.LatLng(35.6939957357487, 128.45896382286125),//스타벅스
                new kakao.maps.LatLng(35.678082150742945, 128.45555984614464),//공차
                new kakao.maps.LatLng(35.70173283020532, 128.4709372040546),//커피로드
                new kakao.maps.LatLng(35.692463674743564, 128.45048506455862)//파스쿠찌
            ];

            // 레스토랑 마커가 표시될 좌표 배열입니다
            var storePositions = [
                new kakao.maps.LatLng(37.497535461505684, 127.02948149502778),
                new kakao.maps.LatLng(37.49671536281186, 127.03020491448352),
                new kakao.maps.LatLng(37.496201943633714, 127.02959405469642),
                new kakao.maps.LatLng(37.49640072567703, 127.02726459882308),
                new kakao.maps.LatLng(37.49640098874988, 127.02609983175294),
                new kakao.maps.LatLng(37.49932849491523, 127.02935780247945),
                new kakao.maps.LatLng(37.49996818951873, 127.02943721562295)
            ];
            
            // 플레이스 마커가 표시될 좌표 배열입니다
            var carparkPositions = [
                new kakao.maps.LatLng(37.49966168796031, 127.03007039430118),
                new kakao.maps.LatLng(37.499463762912974, 127.0288828824399),
                new kakao.maps.LatLng(37.49896834100913, 127.02833986892401),
                new kakao.maps.LatLng(37.49893267508434, 127.02673400572665),
                new kakao.maps.LatLng(37.49872543597439, 127.02676785815386),
                new kakao.maps.LatLng(37.49813096097184, 127.02591949495914),
                new kakao.maps.LatLng(37.497680616783086, 127.02518427952202)
        ];
        
        var markerImageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/category.png';  // 마커이미지의 주소입니다. 스프라이트 이미지 입니다
        coffeeMarkers = [], // 커피숍 마커 객체를 가지고 있을 배열입니다
        storeMarkers = [], // 편의점 마커 객체를 가지고 있을 배열입니다
        carparkMarkers = []; // 주차장 마커 객체를 가지고 있을 배열입니다
        
        
        createCoffeeMarkers(); // 커피숍 마커를 생성하고 커피숍 마커 배열에 추가합니다
        createStoreMarkers(); // 편의점 마커를 생성하고 편의점 마커 배열에 추가합니다
        createCarparkMarkers(); // 주차장 마커를 생성하고 주차장 마커 배열에 추가합니다
        
        changeMarker('coffee'); // 지도에 커피숍 마커가 보이도록 설정합니다    
        
        
        // 마커이미지의 주소와, 크기, 옵션으로 마커 이미지를 생성하여 리턴하는 함수입니다
        function createMarkerImage(src, size, options) {
            var markerImage = new kakao.maps.MarkerImage(src, size, options);
            return markerImage;
        }
        
        // 좌표와 마커이미지를 받아 마커를 생성하여 리턴하는 함수입니다
        function createMarker(position, image) {
            var marker = new kakao.maps.Marker({
                position: position,
                image: image
            });
            
            return marker;
        }
        
        // 커피숍 마커를 생성하고 커피숍 마커 배열에 추가하는 함수입니다
        function createCoffeeMarkers() {
            
            for (var i = 0; i < coffeePositions.length; i++) {
                
                var imageSize = new kakao.maps.Size(22, 26),
                imageOptions = {
                    spriteOrigin: new kakao.maps.Point(10, 0),
                    spriteSize: new kakao.maps.Size(36, 98)
                };
                
                // 마커이미지와 마커를 생성합니다
                var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),
                marker = createMarker(coffeePositions[i], markerImage);

                // 생성된 마커를 커피숍 마커 배열에 추가합니다
                coffeeMarkers.push(marker);
            }
        }
        
        // 커피숍 마커들의 지도 표시 여부를 설정하는 함수입니다
        function setCoffeeMarkers(map) {
            for (var i = 0; i < coffeeMarkers.length; i++) {
                coffeeMarkers[i].setMap(map);
            }
        }
        
        // 편의점 마커를 생성하고 편의점 마커 배열에 추가하는 함수입니다
        function createStoreMarkers() {
            for (var i = 0; i < storePositions.length; i++) {
                
                var imageSize = new kakao.maps.Size(22, 26),
                imageOptions = {
                    spriteOrigin: new kakao.maps.Point(10, 36),
                    spriteSize: new kakao.maps.Size(36, 98)
                };
                
                // 마커이미지와 마커를 생성합니다
                var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),
                marker = createMarker(storePositions[i], markerImage);
                
                // 생성된 마커를 편의점 마커 배열에 추가합니다
                storeMarkers.push(marker);
            }
        }
        
        // 편의점 마커들의 지도 표시 여부를 설정하는 함수입니다
        function setStoreMarkers(map) {
            for (var i = 0; i < storeMarkers.length; i++) {
                storeMarkers[i].setMap(map);
            }
        }
        
        // 주차장 마커를 생성하고 주차장 마커 배열에 추가하는 함수입니다
        function createCarparkMarkers() {
            for (var i = 0; i < carparkPositions.length; i++) {
                
                var imageSize = new kakao.maps.Size(22, 26),
                imageOptions = {
                    spriteOrigin: new kakao.maps.Point(10, 72),
                    spriteSize: new kakao.maps.Size(36, 98)
                };
                
                // 마커이미지와 마커를 생성합니다
                var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),
                marker = createMarker(carparkPositions[i], markerImage);
                
                // 생성된 마커를 주차장 마커 배열에 추가합니다
                carparkMarkers.push(marker);
            }
        }
        
        // 주차장 마커들의 지도 표시 여부를 설정하는 함수입니다
        function setCarparkMarkers(map) {
            for (var i = 0; i < carparkMarkers.length; i++) {
                carparkMarkers[i].setMap(map);
            }
        }
        
        // 카테고리를 클릭했을 때 type에 따라 카테고리의 스타일과 지도에 표시되는 마커를 변경합니다
        function changeMarker(type) {
            
            var coffeeMenu = document.getElementById('coffeeMenu');
            var storeMenu = document.getElementById('storeMenu');
            var carparkMenu = document.getElementById('carparkMenu');
            
            // 커피숍 카테고리가 클릭됐을 때
            if (type === 'coffee') {
                
                // 커피숍 카테고리를 선택된 스타일로 변경하고
                coffeeMenu.className = 'menu_selected';
                
                // 편의점과 주차장 카테고리는 선택되지 않은 스타일로 바꿉니다
                storeMenu.className = '';
                carparkMenu.className = '';
                
                // 커피숍 마커들만 지도에 표시하도록 설정합니다
                setCoffeeMarkers(map);
                setStoreMarkers(null);
                setCarparkMarkers(null);
                
            } else if (type === 'store') { // 편의점 카테고리가 클릭됐을 때
                
                // 편의점 카테고리를 선택된 스타일로 변경하고
                coffeeMenu.className = '';
                storeMenu.className = 'menu_selected';
                carparkMenu.className = '';
                
                // 편의점 마커들만 지도에 표시하도록 설정합니다
                setCoffeeMarkers(null);
                setStoreMarkers(map);
                setCarparkMarkers(null);
                
            } else if (type === 'carpark') { // 주차장 카테고리가 클릭됐을 때
                
                // 주차장 카테고리를 선택된 스타일로 변경하고
                coffeeMenu.className = '';
                storeMenu.className = '';
                carparkMenu.className = 'menu_selected';
                
                // 주차장 마커들만 지도에 표시하도록 설정합니다
                setCoffeeMarkers(null);
                setStoreMarkers(null);
                setCarparkMarkers(map);
            }
        } 
        
        </script>
</body>

</html>