*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Black Han Sans', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../photo/home.png") no-repeat center;
  background-size: cover;
}

.parent{
  display: flex 1;
  margin: auto;
}

.first {
  border: none;
  background: white;
  float: left;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
}

.second{
  border: none;
  background: white;
  float: left;
  margin-left: 5%;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
}

.third{
  border: none;
  background: white;
  float: right;
  width:200px;
  height: 200px;
  box-sizing: border-box;
}