*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Black Han Sans', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
  background: url("../photo/home.png") no-repeat center;
  background-size: cover;
}

.parent{
  width: 110%;
  margin: auto;
  margin-left: 20px;
}

.first {
  margin-left: 600px;
  border: none;
  background: white;
  float: left;
  width: 330px;
  height: 500px;
  border-radius: 190px;
  box-sizing: border-box;
  background-color:rgba(255, 255, 255, 0.7);
}

.second{
  border: none;
  background: white;
  float: left;
  margin-left: 5%;
  width: 330px;
  height: 500px;
  border-radius: 190px;
  box-sizing: border-box;
  background-color:rgba(255, 255, 255, 0.7);
}

.third{
  border: none;
  background: white;
  float: right;
  width: 330px;
  height: 500px;
  border-radius: 190px;
  box-sizing: border-box;
  background-color:rgba(255, 255, 255, 0.7);
}

.cafe {
  margin-top: 70px;
  margin-left: 23%;
}

.restaurant {
  margin-top: 110px;
  margin-left: 0%;
}

.place {
  margin-top: 71px;
  margin-left: 18%;
}