*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Black Han Sans', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
  background: url("../photo/home.png") no-repeat center;
  background-size: cover;
}

.group {
  margin: 10px auto;
  display: flex;
}

.cafe {
  margin-left: 580px;
  flex: 1;
  display: flex;
  background: white;
  width: 375px;
  height: 547px;
  border-radius: 170px;
  background-color:rgba(255, 255, 255, 0.8);
}

.restaurant {
  margin-left: 60px;
  flex: 1;
  display: flex;
  background: white;
  width: 375px;
  height: 547px;
  border-radius: 170px;
  background-color:rgba(255, 255, 255, 0.8);
}

.place {
  margin-left: 60px;
  flex: 1;
  display: flex;
  background: white;
  width: 375px;
  height: 547px;
  border-radius: 170px;
  background-color:rgba(255, 255, 255, 0.8);
}

.cafe_img {
  width: 192px;
  height: 230px;
  display: block;
  margin: 100px auto;
}

.restaurant_img {
  width: 287px;
  height: 184px;
  display: block;
  margin: 120px 0 0 30px;
}

.place_img {
  width: 212px;
  height: 217px;
  display: block;
  margin: 100px auto;
}

.home_text {
  font-size: 14px;
  margin-top: 10px;
  font-weight: bold;
}