* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Black HanSans', sans-serif;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../views/img1.png") no-repeat center;
    background-size: cover;
}

.register {
    width: 513px;
    height: 713px;
    background: white;
    border-radius: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0.93;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    color: #7B7B7B;
}

.logo {
    margin-top: 60px;
    margin-bottom: 50px;
    width: 205px;
    height: 189px;
}

.loginhagi { /* 로그인하기 */
    text-decoration: none;
}

.loginhagi:hover {
    text-decoration: underline;
}

.register-form {
    position: relative;
    z-index: 2;
}

.register-int {
    width : 300px;
    font-size:14px;
    margin-top: 20px;
    position: relative;
}

.register-int input {
    width: 100%;
    padding: 25px 5px 3px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px;
    color: black;
    outline: none;
}

.register-int label {
    position: absolute;
    left: 10px;
    font-size: 15px;
    color: #7B7B7B;
}

.register-int span::before {
    content: '';
    position: absolute;
    top: 49px;
    left: 0;
    width: 0%;
    height: 2px;
    background:#ff94af;
}

.register-int input:focus ~ label,
.register-int input:valid ~ label {
    top: 0;
    font-size: 15px;
    color: #ff94af;
}

.register-int input:focus ~ span::before,
.register-int input:valid ~ span::before {
    width: 100%;
}

.register-btn button{ /* 회원가입 버튼 */
    color: white;
    width:280px;
    height:44px;
    font-size:16px;
    text-align:center;
    margin-top: 50px;
    background: #ff94af;
    border-radius: 40px;
    border: none;
}

.already { /* 이미회원이신가요? */
    margin-top: 30px;
}

.register-int label {
    position: absolute;
    left: 1px;
    font-size: 15px;
    color: #7B7B7B;
}

.eye {
    position: absolute;
}

#hide1 { /*눈 뜨고 있는 것*/
    position: absolute;
    font-size: 25px;
    color: gray;
    margin: 30px 0 0 -28px;
}

#hide2 { /*눈 가리고 있는 것*/
    display: none;
    position: absolute;
    font-size: 25px;
    color: gray;
    margin: 30px 0 0 -28px;
}

#hide1_2 { /*눈 뜨고 있는 것*/
    position: absolute;
    font-size: 25px;
    color: gray;
    margin: 30px 0 0 -28px;
}

#hide2_2 { /*눈 가리고 있는 것*/
    display: none;
    position: absolute;
    font-size: 25px;
    color: gray;
    margin: 30px 0 0 -28px;
}